@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@layer base {
  html {
    font-family: "Rubik", sans-serif;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  color: #212529;
}

/* 229 231 235 */
/* .light {
  --background: 229, 231, 235;
  --card-background: 209, 213, 219;
}

.dark {
  --background: 18, 18, 18;
  --card-background: 30, 30, 30;
} */

.link {
  @apply flex items-center rounded-2xl py-2.5 font-normal duration-300 md:cursor-pointer;
}

.active {
  @apply bg-blue-100 text-blue-600;
}

input[type="file"]::file-selector-button {
  /* #4a1d96
  #6c5ce7 */
  /* border: 2px solid #4a1d96; */
  /* padding: 0.2em 0.4em; */
  border-radius: 0.2em;
  background-color: #4a1d96;
  transition: 150ms;
  height: 40px;
}

input[type="file"]::file-selector-button:hover {
  background-color: #6c5ce7;
  /* border: 2px solid #00cec9; */
}
